



<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->







    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>
                        ola!</h1>
                        <h1>Nos da TGS Genesys oferecemos serviços como <span class="typing-text"></span></h1>
                        <p>
                            Somos uma empresa contituida por profissionais técnicos especializados em serviços de
                            hardware e manutenção.
                        </p>
                        <a href="#about" class="btn">saiba mais <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Home/TGSLOGO.jpg" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->



    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/About/genesysteck.jpg" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Nos somos a TGS Genesys Teck.</h2>
                <p>
                    Nossa empresa atua atualmente a 30 anos no mercado de T.I com os nossos serviços sendo ofertados
                    com o intuito e objetivo de atender e sempre trazer uma solução para os nossos clientes.
                </p>

                <div class="about-info">

                    <div class="info">
                        <h4>Fundação: <span>1994</span></h4>
                        <h4>
                            localização: <span>Setor comecial Sul, Edificio Tower God, em frente ao Patio Brasil.</span>
                        </h4>
                        <h4>Pais: <span>Brazil, EUA</span></h4>
                        <h4>area de atuação: <span>hardware</span></h4>
                        <h4>agenda: <span> aberta</span></h4>
                        <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="30">30+</h1>
                            <h3>Anos de experiência</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="100">100+</h1>
                            <h3>Projetos concluídos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="80">80+</h1>
                            <h3>clientes satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="20">20+</h1>
                            <h3>Total prêmios ganhos</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>nossas <span>habilidades</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>manutenção<span> 95% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Configurações de software<span> 90% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Formatação<span> 85% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Venda de hardware sob encomenda<span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Assistência remota<span> 70% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Atendimento à domicilio<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->



    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>nossas <span>qualificações</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2015 - 2016</span>
                        <h3>Engenharia de Hardware</h3>
                        <p>
                            Nossos técnicos certificados e muito bem avaliados temos excelentes notas no reclame aqui
                            e pelas avaliações deixados pelos clientes satisfeitos pelos
                            nosso cuidado com os circuitos integrados, placas de circuito impresso, processadores,
                            memória,
                            dispositivos de armazenamento, interfaces de comunicação e outros componentes de hardware.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2016 - 2017</span>
                        <h3>Engenharia de software</h3>
                        <p>
                            Nossa empresa possui uma preucupação muito grande com os nossos software parceiros e isso
                            envolve todas as etapas
                            do ciclo de vida da Configuração de software,
                            desde a análise de requisitos até o projeto,
                            implementação, teste e manutenção do software.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2017 - 2018</span>
                        <h3>Arquitetura de Computadores</h3>
                        <p>
                            Os nossos técnicos possuem a conhecimento sobre a organização dos componentes internos
                            do computador e de como eles estão interconectados.
                            Isso inclui a CPU, que é o "cérebro" do computador,
                            responsável por executar instruções e processar dados; a memória, onde os dados e
                            programas são armazenados temporariamente; os dispositivos de entrada e saída, que permitem
                            a
                            interação com o computador; e os barramentos de comunicação que conectam esses componentes.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2018 - 2019</span>
                        <h3>Sistemas Embarcados</h3>
                        <p>
                            Muitos produtos de hardware requerem sistemas embarcados para funcionar.
                            Ter expertise em desenvolvimento de firmware,
                            sistemas operacionais embarcados, comunicação serial e protocolos de comunicação é crucial.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2019 - 2020</span>
                        <h3>Teste e Depuração de Hardware</h3>
                        <p>
                            Habilidades em testes e depuração são essenciais para garantir a
                            qualidade e confiabilidade do hardware produzido. Isso inclui
                            o desenvolvimento de procedimentos de teste,
                            uso de equipamentos de teste, análise de dados de teste e resolução de problemas de
                            hardware.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020 - 2021</span>
                        <h3>Conformidade e Certificação</h3>
                        <p>
                            Nossos técnicos são todos certificados e trabalham de acordo com todos os padrões
                            das maiores empresas produtoras de software e hardware,
                            garantindo uma manutenção segura para os nossos clientes.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->



    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>nossos <span>serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <h3>Montagem de computador</h3>
                <p>
                    Montar computadores proporciona customização, aprendizado,
                    economia e controle total do hardware, ideal para entusiastas, e amantes de hardware.
                </p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #002333;  border-color: white; color: white">Agendar</button>
            </div>

            <div class="service-item">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
                <h3>Configuração de software </h3>
                <p>
                    Personalizamos programas e sistemas operacionais para atender
                    necessidades específicas de clientes ou ambientes computacionais.
                </p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #002333;  border-color: white; color: white">Agendar</button>

            </div>

            <div class="service-item">
                <i class="fa fa-microchip" aria-hidden="true"></i>
                <h3>Formatação</h3>
                <p>
                    A formatação de computadores é geralmente realizada para restaurar o sistema
                    a um estado inicial ou resolver problemas de desempenho.
                </p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #002333;  border-color: white; color: white">Agendar</button>

            </div>

            <div class="service-item">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <h3>Venda de hardware sob encomenda</h3>
                <p>Clientes podem encomendar sistemas personalizados que atendem suas necessidades e preferências.</p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #002333;  border-color: white; color: white">Agendar</button>

            </div>


            <div class="service-item">
                <i class="far fa-file-video"></i>
                <h3>Assistência remota</h3>
                <p>
                    Oferecemos assistência remota para diagnóstico e resolução de problemas técnicos
                    acessando e controlando o computador do cliente remotamente.
                </p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #002333;  border-color: white; color: white">Agendar</button>

            </div>

            <div class="service-item">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h3>Atendimento à domicilio</h3>
                <p>
                    Não so atendemos remotamente como tambem vamos ate a casa do
                    nosso cliente para fazer um Atendimento especializados.
                </p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #002333;  border-color: white; color: white">Agendar</button>
 
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->



    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Nosso <span>portfolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">Todos</li>
                <li class="button btn" data-filter="web">Mais acessados</li>
                <li class="button btn" data-filter="design">Mais vendidos</li>
                <li class="button btn" data-filter="photography">Mais comentados</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/portfolio....jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Montagem De Computador</h4>
                        <p>serviço técnico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-1.png"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/portifolio..o.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Configuração de software</h4>
                        <p>serviço de tecnologia</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-2.png"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/portifolio..i.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Formatação</h4>
                        <p>serviço de manutenção</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-3.png"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/portfolio...j.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Venda de hardware sob encomenda</h4>
                        <p>serviço personalizado de tecnologia da informação</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-4.png"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/images.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Assistência remota</h4>
                        <p>serviço de suporte técnico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-5.png"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/portifolio..p.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Atendimento à domicilio</h4>
                        <p>suporte técnico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-6.png"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->



    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/jason_rooy.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O serviço de montagem de computadores foi essencial para mim.
                        Profissionais competentes e experientes me guiaram desde a seleção
                        das peças até a montagem final, garantindo um sistema personalizado
                        e eficiente. A comodidade de contar com
                        especialistas fez toda a diferença na qualidade e desempenho do meu novo PC.
                    </p>

                    <div class="intro">
                        <h3>jason roy</h3>
                        <h5>web developer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/evelyn.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Agradeço imensamente pelo serviço de configuração de software prestado.
                        Os técnicos entenderam minhas necessidades e personalizaram as configurações
                        de acordo, otimizando o desempenho e a usabilidade. Agora, meu sistema está
                        perfeitamente ajustado às minhas preferências,
                        tornando meu trabalho mais eficiente e fluido.
                    </p>

                    <div class="intro">
                        <h3>evelyn jones</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/dh.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Estou muito satisfeito com o serviço de formatação que recebi.
                        Os técnicos foram rápidos e eficientes, garantindo que meu computador
                        fosse limpo de forma profissional e todos os dados importantes fossem
                        preservados. Agora, meu sistema está funcionando como novo,
                        livre de problemas e mais rápido do que nunca.
                    </p>

                    <div class="intro">
                        <h3>luke wood</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/sarah.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        A assistência remota foi um salva-vidas!
                        Os técnicos resolveram meu problema rapidamente,
                        mesmo estando a quilômetros de distância.
                        A conveniência e eficácia desse serviço são incríveis, e agora sei que posso
                        confiar nele sempre que precisar de suporte técnico.
                    </p>

                    <div class="intro">
                        <h3>sarah glenn</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/dr.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Estou extremamente satisfeito com o serviço de venda de hardware sob encomenda.
                        Os técnicos entenderam minhas necessidades específicas e recomendaram os
                        melhores componentes para construir o sistema dos meus sonhos.
                        A qualidade dos produtos e o suporte personalizado superaram todas as minhas expectativas.
                    </p>

                    <div class="intro">
                        <h3>samit patel</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>
                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/dw.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O atendimento técnico à domicílio foi excepcional.
                        O profissional chegou
                        pontualmente e resolveu meu problema de forma rápida e eficiente, sem que eu precisasse
                        me preocupar em transportar meu equipamento. A comodidade e expertise
                        proporcionadas foram realmente impressionantes.
                    </p>

                    <div class="intro">
                        <h3>Jordan peterson</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>





            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->



    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2><span>Noticias</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/ni.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Como montar setup gamer até R$ 5 mil com PC e todos os
                            periféricos
                        </a>
                        <p>
                            Confira sugestões de computador e periféricos para
                            montar um setup gamer de qualidade sem gastar muito;
                            todos os itens podem ser encontrado à venda no varejo online
                        </p>
                        <a href="https://www.techtudo.com.br/listas/2024/06/como-montar-setup-gamer-ate-5-mil-com-pc-e-todos-os-perifericos-edqualcomprar.ghtml"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/nj.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Microsoft cria polêmica ao
                            recomendar que usuários do Windows 10 joguem seus
                            PCs fora para comprar máquina compatível com Windows 11
                        </a>
                        <p>
                            Página oficial adicionou o Windows 10 à lista que contava com o 8.1 e o 7
                        </p>
                        <a href="https://br.ign.com/windows-10/124852/news/microsoft-cria-polemica-ao-recomendar-que-usuarios-do-windows-10-joguem-seus-pcs-fora-para-comprar-m"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/download.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">Como formatar um PC com Windows 11</a>
                        <p>
                            Conheça quais são os métodos mais fáceis para que você consiga formatar o
                            Windows 11 em casa e sem maiores problemas
                        </p>
                        <a href="https://tecnoblog.net/responde/como-formatar-um-pc-com-windows-11/" class="btn">
                            leia
                            mai <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/nt.jpeg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">Venda de GPUs e CPUs cai no primeiro trimestre de 2024</a>
                        <p>
                            O mais recente relatório do grupo Jon Peddie Research, publicado na terça-feira (28),
                            aponta que a venda de processadores e placas de vídeo
                            caiu consideravelmente no primeiro trimestre de 2024 em relação ao final de 2023
                        </p>
                        <a href="https://canaltech.com.br/hardware/venda-de-gpus-e-cpus-cai-no-primeiro-trimestre-de-2024-291309/"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/nkk.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            5 programas de acesso remoto para controlar o seu PC a
                            distância
                        </a>
                        <p>
                            Softwares como TeamViewer, AnyDesk e afins oferecem tanto
                            opção para realizar acesso remoto quanto
                            ferramentas avançadas para auxiliar no suporte a distância; conheça
                        </p>
                        <a href="https://www.techtudo.com.br/listas/2023/07/quer-controlar-seu-pc-a-distancia-veja-5-programas-de-acesso-remoto-edsoftwares.ghtml"
                           class="btn">read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/nhhh.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Startup de "delivery" de técnicos de informática recebe aporte
                            milionário
                        </a>
                        <p>
                            Startup cresceu no país ao apostar em uma operação semelhante
                            a de plataformas como Uber e iFood, mas com técnicos de informática
                        </p>
                        <a href="https://www.techtudo.com.br/listas/2023/07/quer-controlar-seu-pc-a-distancia-veja-5-programas-de-acesso-remoto-edsoftwares.ghtml"
                           class="btn">leia maie <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->



    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Nosso</span> Contato</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Entrar em contato</h3>

                <p>Esperamos seu contato para te ajudar da melhor forma que possivel.</p>

                <div class="info-item">
                    <h4>telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+61 9999 9999</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+61 9999 9999</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">abc@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">xyz@gmail.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="Nome" required />
                <input type="email" name="email" class="box" id="email" placeholder="Email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="assunto" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="Mensagem"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">Enviar</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->


    

    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>

    <!-- SWIPER JS -->
    <script src="~/vendors/swiper/swiper.js"></script>

    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>

    <!-- Custom Script File -->
    <script src="~/js/script.js"></script>
    <script src="~/js/scroll-spy.js"></script>
    <script src="~/js/counter-up.js"></script>
    <script src="~/js/portfolio.js"></script>
    <script src="~/js/testi-slider.js"></script>
    <script src="~/js/blog-slider.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Montagem de computador', 'Configurações de software ', 'Formatações', 'Venda de hardware sob encomenda', 'Assistência remota', 'Atendimentos à domicilio'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>

</body>
